<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>LimeSurveyWebhook</name>
        <type>plugin</type>
        <creationDate>2025-05-03</creationDate>
        <lastUpdate>2025-05-03</lastUpdate>
        <author>Alex Righetto</author>
        <version>1.1.0</version>
        <lastSecurityUpdate>1.1.0</lastSecurityUpdate>
        <license></license>
        <description>Simple Webhook for LimeSurvey by Alex Righetto</description>
    </metadata>
    <compatibility>
        <version>6</version>
    </compatibility>
    <updaters disabled="disabled">
    </updaters>
</config>
